ul.navbar
                li.navbar__item
                    a(href="#").nav__link
                        img.icon(src="../assets/home.svg", alt="home")
                li.navbar__item
                    a(href="#").nav__link
                        img.icon(src="../assets/folder.svg", alt="home")
                li.navbar__item
                    a(href="#").nav__link
                        img.icon(src="../assets/notes.svg", alt="home")
                li.navbar__item
                    a(href="#").nav__link
                        img.icon(src="../assets/contacts.svg", alt="home")